/* ------------mainvisual-------- */
.mainvisual {
    height: 100vh;
    width: 100%;
}
.info_screen{
    padding-top: 170px;
    display: flex;
    flex-direction: column;
}
.info-title{
    text-align: center;
    font-size: 40px;
    padding-top: 36px;
    padding-bottom: 25px;
    margin: 0;
}
.info_screen img{
    width: 100%;
    object-fit: cover;
    height: calc(100vh - 290px);
}
.info-data{
    margin: 0;
    width: 100%;
}
.info-detail{
    max-width: 700px;
    margin: 0 auto;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    padding-top: 47px;
}
.info-date{
    margin: 30px;
}
.list-btn{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.info-list-btn{
    padding: 28px 184px;
    background-color: #13AE6A;
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 26px;
}
@media only screen and (max-width:1330px) {
    .info_screen img{
        height: calc(100vh - 190px);
    }
    .hamburger img{
        width: 100px;
        height: auto;
    }
    .info_screen{
        padding-top: 100px;
    }
    .info-list-btn{
        padding: 20px 100px;
    }
}
@media only screen and (max-width:768px) {
    .top_logo img, .menu img{
        height: 60px;
        width: auto;
    }
    .top_logo{
        margin: 0 20px;
    }
    header{
        height: 60px;
    }
    .info_screen{
        padding-top: 63px;
    }
    .info-list-btn{
        padding: 10px 80px;
        font-size: 30px;
    }
    .info-detail{
        width: 90%;
        margin: 0 auto;
        text-align: left;
        font-size: 15px;
    }
    .info-date{
        text-align: center;
    }
}
@media only screen and (max-width:768px) {
    .info-list-btn{
        padding: 10px 50px;
        font-size: 20px;
    }

}