/* --------terms_use---------- */
.terms_use{
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 170px;
    height: 100vh;
}
.terms_title{
    font-size: 40px;
    font-weight: bold;

}
.terms_context{
    background-color: #C7C7C7;
    padding: 59px;
}
.terms_detail{
    height: 35vh;
    width: 100%;
    overflow-y: scroll;

}
.terms_context{
    height: calc(100vh - 245px);
}
.terms_agree{
    font-size: 30px;
    margin-top: 105px;
    margin-right: 30%;
    text-align: right;
}
.terms_agree input{
    width: 40px;
    height: 40px;
    margin: 20px;
}
.sp-lp{
    display: none;
}
/* ---------application_flow---------- */
.application_flow{
    max-width: 1120px;
    padding-top: 66px;
    margin: 0 auto;
}
.flow_title{
    font-size: 40px;
}
.application_flow_each{
    text-align: left;
    width: 90%;
    margin-bottom: 108px;
}
/* ---------to pay----------- */
.to_pay{
    padding-top: 72px;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}
.to_pay_btn{
    padding: 28px 184px;
    background-color: #13AE6A;
    color: white;
    font-size: 40px;
    border-radius: 26px;
    font-weight: bold;
    border: none;
}
@media only screen and (max-width:1440px) {
    .terms_use, .application_flow{
        width: 90%;
    }
    .terms_use{
        padding-top: 100px;
    }
}
@media only screen and (max-width:1024px) {
    .to_pay_btn{
        font-size: 30px;
        padding: 20px 80px;
    }
    .terms_agree{
        font-size: 25px;
    }
    .terms_agree input{
        width: 30px;
        padding: 30px;
        margin: 0;
    }
    .terms_use{
        padding-top: 60px;
    }
}
@media only screen and (max-width:768px) {
    .terms_title{
        font-size: 25px;
    }
    .sp-lp{
    display: block;
}
.terms_context{
    padding: 20px;
    font-size: 15px;
    }
    .terms_agree{
        font-size: 20px;
        margin-right: 0;
    }
    .terms_agree input{
        width: 25px;
        height: 25px;
    }
    .flow_title{
        font-size: 25px;
    }
    .application_flow_each{
        font-size: 15px;
        padding: 20px;
        margin-bottom: 50px;
    }
    .to_pay_btn{
        font-size: 25px;
        padding: 10px 50px;
    }
    
}