* {
    box-sizing: border-box;
    font-family: 'Yu Gothic';
}

body {
    max-width: 100%;
    /* overflow-x: hidden; */
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

/* ----------header----------- */
header {
    height: 170px;
    width: 100%;
    background-color: #13AE6A;
    position: fixed;
    z-index: 999;
}
.header{
    position: relative;
}

.top_logo {
    position: absolute;
    margin: 22px 40px;
}

.top_buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;

}

.top_buttons .button {
    padding: 6px 59px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #13AE6A;
    border-radius: 18px;
    margin: 13px;
    margin-top: 20px;
    margin-bottom: 23px;
    background-color: white;
}
.top_buttons .button:hover {
    background-color: #13AE6A;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.top_link {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
}

.to_admin, .to_mine, .to_question {
    padding: 20px 13px;
    width: 110px;
    height: 100px;
    text-align: center;
    border-left: 1px solid #13AE6A;
    border-top: none;
    text-align: center;
}
.header_icon_right {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.header_icon_right img{
    width: 100%;
    margin-top: 3px;
}
/* .header_icon_right img{
    width: 100%;
    margin-top: 3px;
} */
.to_admin p, .to_mine p, .to_question  p {
    margin: 0;
    font-size: 16px;
    margin-top: 5px;
}
.top_link .menu {
    width: 107px;
    position: relative;
}
.customer{
    display: none;
}
.spbtn{
    display: none;
}
.hamburger img{
    height: 107px;
}
.menubar{
    display: flex;
    width: 100%;
    align-items: center;
}
.menubar a{
    width: 20%;
    height: 80px;
}
.menubar p{
    margin: 0;
    padding: 22px 0;
    text-align: center;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    font-size: 20px;
    color: white;
    background-color: #13AE6A;
}
@media only screen and (max-width:1280px) {
    .top_link .question_page{
        display: none;
    }
    .menubar p{
        padding: 15px 0;
        font-size: 18px;
    }
    .menubar a{
        height: 63px;
    }
    .top_buttons .button {
        padding: 6px 40px;
    }
    header{
        height: 100px;
    }
    .top_link .menu{
        width: 100px;
    }
    .top_link .customer_info{
        padding: 0px 10px;
    }
    .hamburger img{
        width: 100px;
        height: auto;
    }
}

@media only screen and (max-width:900px) {
    .top_link .my_page{
        display: none;
    }
    .customer{
        display: block;
    }
    .menubar p{
        font-size: 15px;
    }
}
@media only screen and (max-width:768px) {
    .admin_page{
        display: none;
    }
    .pcbtn .button{
        display: none;
    }
    .spbtn .button{
        display: inline;
        color: black;
        font-size: 15px;
        margin: 10px auto;
    }
    .spbtn{
        background: none;
        display: flex;
    }
    .spbtn .button {
        border:1px solid white;
    }
    .menubar{
        display: none;
    }
}
/* ----------hamberger------------- */
#toggle {
    display: none;
}

.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}
.nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #13AE6A;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}

.nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    padding-top: 180px;
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.menu_items {
    width: 360px;
    margin: 10px;
    margin-right: 190px;
}

nav a {
    position: relative;
    color: white;
    margin-top: 34px;
    transition: color 0.2s ease-in-out;
    font-size: 30px;
}

nav a:before {
    content: '';
    height: 0;
    position: absolute;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    color: antiquewhite;
}

nav a:hover:before {
    height: 100%;
}

#toggle:checked+.hamburger+.nav {
    top: 0;
    transform: scale(1);
}
@media only screen and (max-width:768px) {
    .nav-wrapper {
        padding-top: 60px;
    }
    .wrapper-items {
        width: 100%;
    }
    .menu_items {
        margin: 17px;
        margin-left: 80px;
    }
    nav a {
        margin-top: 34px;
        font-size: 20px;
    }
    nav .menu_items img{
        width: 20px;
        height: auto;
    }
    .top_logo img, .menu img{
        height: 50px;
        width: auto;
    }
    .top_logo{
        margin: 0 20px;
    }
    header{
        height: 50px;
    }
}

/* ---------footer------------ */
footer{
    background-color: #13AE6A;
    margin-top: 161px;
    padding-top: 80px;
    font-size: 30px;
}
.footer{
    position: relative;
    width: 100%;
}
.footer_logo{
    position: absolute;
    top: -38px; 
    left: 100px;
}
.footer-question{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.footer-btns{
    width: 30%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 30px;
    margin-top: 60px;
}
.inqury{
    display: flex;
    justify-content: space-between;
    margin-left: -30PX;
    margin-bottom: 65px;
}
.footer_items a{
    color: white;
}
.copylight{
    padding-top: 80px;
    padding-bottom: 25px;
    margin: 0;
    text-align: center;
    color: white;
    font-size: 30px;
}
@media only screen and (max-width:1440px) {
    .inqury{
        flex-direction: column;
        justify-content: left;
        margin-bottom: 0;
        margin: 0;
        margin-top: 30px;
    }
    .footer-btns{
        width: 50%;
    }
    .copylight{
        padding-top: 50px;
        font-size: 20px;
        padding-bottom: 10px;
    }
}
    
#back {
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
}
#back:hover{
    cursor: pointer;
}
@media only screen and (max-width:768px) {
    footer{
        font-size: 20px;
    }
    .footer-btns{
        width: 70%;
    }
    .footer_logo-img{
        width: 50%;
    }
    .footer_logo{
        margin-top: 10px;
    }
}